@{
    ViewBag.Title = "Неверный логин";
}
<div class="section group hd"></div>
<div class="section group">
    <div class="col span_4_of_4">
        <h1 class="ct">@ViewBag.Title</h1>
        <h2 class="ct">Введите верные данные</h2>
    </div>
</div>
