<div class="section group">
    <div class="col span_5_of_5">
        <h1 class="ct">@ViewBag.Title</h1>
    </div>
</div>
<div class="section group">
    <div class="col span_1_of_5 hd"></div>
    <div class="col span_3_of_5">
        <div class="block sel f h-2"></div>
        <div class="block group sel f bt bordernull">            
            <div class="col span_1_of_2">
                <div class="block sel f hp">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10584.289848072536!2d35.06419395!3d48.4551392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1428066420350" width="100%" height="100%" frameborder="0" style="border: 0"></iframe>
                </div>
            </div>
            <div class="col span_1_of_2">
                <label class="f t">Адрес:</label>
                <input class="f" type="text" />
                <label class="f t">Проблема:</label>
                <input class="f" type="text" />
            </div>
            <div class="col span_2_of_2">
                <label class="f ml">Коментарии:</label>
                <div class="sel f block">
                    Плохая дорога <br />
                    фу фу фу
                </div>
                <div class="sel f block bt">
                    Редактор <br />
                    ниже коменты идут с последнего к первому без автора                    
                </div>
                <div class="sel f hp block bt"></div>
                <div class="sel f hp block bt"></div>
            </div>
        </div>
    </div>
</div>
