<div class="fullscreen">
    <div class="section group">
        <div class="col span_1_of_2">
            <img class="logo" src="~/Images/logo_bg.png">
        </div>
        <div class="col span_1_of_2 vis">
            <div class="h-3 index"></div>
            <h3 class="yellow">@Resources.Resource._IndexTitle1
            </h3>
            <p class="yellow">
                @Resources.Resource._IndexTitle2
                <br />
                <br />
                @Resources.Resource._IndexTitle3
                <br />
                <br />
                @Resources.Resource._IndexTitle4
            </p>
        </div>
    </div>
</div>
