<div class="fullscreen">
    <div class="section group">
        <div class="col span_1_of_2">
            <img class="logo" src="~/Images/logo_bg.png">
        </div>
        <div class="col span_1_of_2">
            <div class="h-3 index"></div>
            <h3 class="yellow">@Resources.Resource._IndexTitle1
            </h3>
            <p class="yellow">
                Фотографируйте на дороге повреждения дорожного покрытия.
                <br />
                <br />
                Регистрируйтесь на нашем сайте и загружайте фото дефектов.
                <br />
                <br />
                Просматривайте карту или галерею с дефектами дорог.
            </p>
        </div>
    </div>
</div>
