<div class="fullscreen">
    <div class="areacontent">
        <div class="row">
            <img src="~/Content/img/logo_bg.png" alt="">
        </div>
        <div class="row">
            <p class="yellow">
                Согласно действующему Государственному стандарту Украины 3587-97, размеры ям не должны быть больше 0,5 м² или 6 см в глубину. Все ямы, которые больше хотя бы по одному параметру, должны быть устранены в течение 10-дневного срока (максимум). Детальнее о повреждениях дорожного покрытия — в разделе «Стандарты и нормативы ».                  
                Статья 40 Конституции Украины гласит: «Все имеют право направлять индивидуальные или коллективные письменные обращения или лично обращаться к органам государственной власти, органов местного самоуправления, должностным и служебным лицам этих органов, которые обязаны рассмотреть обращение и дать обоснованный ответ в установленный законом срок», т. е. — 31 день.               
        </div>
    </div>
</div>
