<div class="popupblock">
        <h3>Ошибка!</h3>
        <p>
            При выполнении запроса произошла ошибка.<br />
            @ViewBag.Message.
        </p>
        <button onclick="new function () { $('.popupblock').css('display', 'none'); $(location).attr('href', '@Url.Action("Map", "Home")');}">Ok</button>
        <!-- NEED LOCALIZATION -->
</div>