html {
    background-color: #f7eeba;
    margin: 0;
    padding: 0;
}

body {
    background-color: #aacefa;
    border-top: solid 10px #000;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}


/*<OLOLO>*/
a {
    color:#155b99;
}

a:hover{
    text-shadow:1px 1px 0 #000;   
}

a:visited{
    color:#155b99;
} 
/*</OLOLO>*/

