@{
    ViewBag.Title = "Галерея";
}
<div class="section group">
    <div class="col span_4_of_4">
        <h1 class="ct">@ViewBag.Title</h1>
    </div>
</div>
<div class="section group">
    <div class="col span_1_of_5">
        <form>
            <h2 class="ct">Фильтр</h2>
            <input class="f" type="text" placeholder="Область" />
            <input class="f" type="text" placeholder="Город" />
            <input class="f" type="text" placeholder="Улица" />
            <input type="submit" value="Фильтровать" />
        </form>
    </div>
    <div class="col span_4_of_5">
        <div class="grid">
            <h3 class="title">Title</h3>
            <img src=""/>
            @*<div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10583.29542581696!2d35.05049895!3d48.4599091!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1427901591485" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
            </div>*@
        </div>
        <div class="grid">
            <h3 class="title">Title</h3>
            <img src=""/>
            @*<div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10583.29542581696!2d35.05049895!3d48.4599091!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1427901591485" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
            </div>*@
        </div>
        <div class="grid">
            <h3 class="title">Title</h3>
            <img src=""/>
            @*<div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10583.29542581696!2d35.05049895!3d48.4599091!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1427901591485" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
            </div>*@
        </div>
        <div class="grid">
            <h3 class="title">Title</h3>
            <img src=""/>
          @*  <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10583.29542581696!2d35.05049895!3d48.4599091!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1427901591485" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
            </div>*@
        </div>
        <div class="grid">
            <h3 class="title">Title</h3>
            <img src=""/>
            @*<div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10583.29542581696!2d35.05049895!3d48.4599091!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1427901591485" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
            </div>*@
        </div>
        <div class="grid">
            <h3 class="title">Title</h3>
            <img src=""/>
            @*<div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10583.29542581696!2d35.05049895!3d48.4599091!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1427901591485" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
            </div>*@
        </div>
    </div>
</div>
<div class="section group">
    <h2 class="ct">Для пагинатора</h2>
</div>
