@model PagedList.IPagedList<BadRoads.Models.Point>
@using PagedList.Mvc;
@using PagedList;

<div id="resultSearch">
    @foreach (var item in Model)
    {
        <a href="/Point/PointInfo/@item.ID">
            <div class="grid">
                <h3 class="title">@item.Defect на @item.GeoData.FullAddress</h3>
                <div>
                    @try{
                        <img src="@item.Cover.Url"/>
                    }
                    catch(Exception)
                    {
                        <img src="../../Images/nophoto.png"/>
                    }
                </div>
            </div>
        </a>
    }
    @Html.PagedListPager(Model, page => Url.Action("Gallery", new { page, flag = true }), new PagedListRenderOptions() { MaximumPageNumbersToDisplay = 5 })
</div>
