@model BadRoads.Models.Point

@{
    ViewBag.Title = "Test";
}

@*<script>
    $(document).ready(function(){   
        $("#addlist").validate();
        var editor = CKEDITOR.replace('editor1');
        var div = document.getElementById('editor');
        editor.resize($(div).width(),'900');
    }); 
</script>*@

@*CKEDITOR.editorConfig = function( config )
{
   // misc options
   config.height = '350px';
};*@

@* var editor = CKEDITOR.replace('editorToday',
      {
        toolbar :
            [
                { name: 'document', items : [ 'Preview' ] },
                { name: 'clipboard', items : [ 'Cut','Copy','Paste','PasteText','PasteFromWord','-','Undo','Redo' ] },
                { name: 'editing', items : [ 'Find','Replace','-','SelectAll','-','Scayt' ] },
                { name: 'insert', items : [ 'Image','Table','HorizontalRule','Smiley','SpecialChar','PageBreak'] },
                        '/',
                { name: 'styles', items : [ 'Styles','Format' ] },
                { name: 'basicstyles', items : [ 'Bold','Italic','Strike','-','RemoveFormat' ] },
                { name: 'paragraph', items : [ 'NumberedList','BulletedList','-','Outdent','Indent','-','Blockquote' ] },
                { name: 'links', items : [ 'Link','Unlink','Anchor' ] },
                { name: 'tools', items : [ 'Maximize','-','About' ] }

            ],
        width: "400px",
        height: "500px"

        });*@

@section scripts {
    @Scripts.Render("~/Scripts/ckeditor/ckeditor.js")

    <script>
        // Функция срабатывает при нажатии на кнопку "save". Получает ID текущей модели(Model) и ID комментария
        function save(model_Id, comment_Id) {
            $.ajax({
                type: "POST",
                url: "/Point/EditComments", // отправка на Экшен изменения и сохранения данных в Editor
                data: { content: CKEDITOR.instances["edit"].getData(), Id_Point: model_Id, Id_Comment: comment_Id }, // передаваемые значения в Экшен
                success:  // В случаи успеха
                    success: function (returndata) {
                        if (returndata.ok)
                            window.location = "/Home/Index";
                        else
                            window.alert(returndata.message);                
                        dataType: "json"
                    });
        }
    </script>
}

<textarea class="ckeditor" name="edit">
         @ViewBag.Content 
    </textarea>
<button class="btn btn-primary" onclick="save(@Model.ID, @ViewBag.Comment_Id)">save</button>