<div class="fullscreen">
    <div class="section group">
        <div class="col span_1_of_2">
            <img class="logo" src="~/Images/logo_bg.png">
        </div>
        <div class="col span_1_of_2">
            <div class="h-3 index"></div>
            <p class="yellow">
                @Resources.Resource._ThankYou
            </p>  з@*десь текст можно придумать и лучше*@
        </div>
    </div>
</div>